

:root {
    --dark-gray:#404040;
    --grayish-orange:#d2491b;
    --very-dark-gray: #222020;
    --dark-grayish-violet:#848081;
    --very-light-gray: hsl(0, 0%,98%);

    --font1:'Karla',
        sans-serif;
    --font2:'DM Serif Display',serif;

    --padding-container: 80px 0;
}
* {
    margin: 0;
    box-sizing:border-box;
}
body {
    font-family:var(--font1);
}
.hero{
    background-color:var(--dark-gray);
}
.nav__img{
    height: 80px;
    width: 100px;
}
.nav{
    background-color:#fff;
    --padding-container:0;
}
.container{
    width: 90%;
    margin:0 auto;
    
    max-width:1200px;
    overflow:hidden;
    padding: var(--padding-container);
}

.nav__container{
    height: 70px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.nav__links{
    display:none;
}
.nav__icon, .nav__img{
    display:block; 
    /* las imagenes o iconos suelen tener un outline predeterminado y se lo quitamos con un display block */
}
.hero__main{
    width: 100%;
    --padding-container: 0;
    padding-top:20px;
}
.hero__main::before{
    content:"";
    background-image:url(https://resource.astrogaming.com/content/dam/astro/en/products/a50-headset-with-base-station-gen4/a50-gallery-xbox-01.png);
    display: block;
    height: 350px;
    width: 471px;
    background-size:cover;
    transform: rotateY(180deg) translateX(40px);
    position: center;
    margin: 0 auto;
    
    
    
    /* los seudoelementos crean contenido ,pero son elemento en linea y hay que ponerle en block para que ocupe el 100% de su contenedor. y para verlo hay que ponerle tambien un height */

    /*pongo en la imagen con css porque con esa manera puedo con un media queri se puede cambiar rapido la imagen y no creamos un elemento extra y al hacerlo nos ahorramos html y tambien para ceo seria innecesario si es que la imagen no tendrieses ningun tipo de importancia en la semantica a noser que sea de nuestro producto o logo */
}
.hero__texts{
    color:#fff;
    width: 90%;
    margin: 0 auto;
    padding:80px 0;
    text-align: center;
}
.title{
    font-size:2.5rem;
    font-family: var(--font2);
    letter-spacing: 3px;
    
}
.hero__paragraph{
    line-height:1.5;
    margin-top:1em; 
}
.cta{
    display:inline-block;
    margin-top:1.5em;
    color:#fff;
    text-decoration:none;
    border:1px solid;
    padding: .8em 2em;
    /* los elementos en linea tienene problemas con los margenes , paddings(los rellenos) y por eso hay que colocarle el display inline block */
    text-transform: uppercase;
}
.different{
    text-align: center;
}
.title--different{
    position:relative;
}
.title--different::before{
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin:0 auto;
    width: 30%;
    height: 2px;
    background-color:var(--grayish-orange)
}
.different__items{
    margin-top:3.5em;
    display:flex;
    flex-direction:column;
    gap: 4em;
}

.different__icon{
    /* para quitar e outline le colocamos estas propiedades qua aunque no se note igual existe esta posibilidad de quitar */
    display: block;
    margin:0 auto;
    margin-bottom:1.5em;
}
.different__title{
    font-size: 1.5rem;
    font-family:var(--font2);
    letter-spacing:2px;
}
.different__paragraph{
    color:var(--dark-grayish-violet);
    line-height:1.5;
    margin-top:1em;

}
.find{
    
    padding: 80px 0;
    --padding-container:50px 40px;
}
.find__container{
    background-color: var(--dark-gray);
    color: #fff;
    text-align:center;
    
}
.footer{
    background-color: #242424;
}
.footer__picture >img{
    
    width: 140px;
    height: 90px;
}
.footer__brand{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding-bottom: 2.5em;
        border-bottom: 1px solid var(--dark-grayish-violet);
        margin-bottom: 2.5em;
}
.footer__contact{
    display: flex;
    align-items: center;
    gap:1.5em;
    
}
.footer__navigation{
    display: flex;
    gap: 3.5em;
    flex-direction: column;
    align-items: center;
}
.footer__nav{
    display: flex;
    gap: 1em;
    flex-direction:column;
    text-align:center;
}
.footer__link{
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 700;
    text-transform: uppercase;
}
.footer__link--first{
    color: var(--grayish-orange);
    margin-bottom: 1em;
}
@media (min-width:768px){

    .nav__img {
        height: 60px;
        width: 100px;
    }
    
        .nav__links {
            display: block;
        }
        .nav__hamburguer{
            display:none;
        }
        .nav__links{
            display: flex;
            gap:2em;
            align-items: center;
        }
        .nav__link{
            text-decoration: none;
            color: var(--grayish-orange);
        }
        .nav__link--cta{
            border: 1px solid;
            color:var(--dark-gray);
            padding:.8em 2em;
        }
        .cta{
            color:var(--grayish-orange);
            font-weight: 700;
        }

        .hero{
            background-image: linear-gradient(to bottom, var(--dark-gray) 70%, #fff 70%);
        }
        .hero__main{
            display:flex;
            width: 90%;
            padding: 100px 0;
            justify-content: space-between;
            align-items: flex-start;
        }
        
                .hero__main::before {
                    content: "";
                    background-image: url(https://resource.astrogaming.com/content/dam/astro/en/products/a50-headset-with-base-station-gen4/a50-gallery-xbox-01.png);
                    height: 370px;
                    width: 58%;
                    background-size: cover;
                    transform: rotateY(180deg) translateX(-70px) ;
                    order: 1;


                }
        
                .hero__texts {
                    position:relative;
                    color: #fff;
                    width: 50%;
                    margin: 0 ;
                    padding: 20px 0 30px;
                    text-align: left;
                }
                .hero__texts::before{
                    content: "";
                    position: absolute;
                    width: 30%;
                    height: 2px;
                    top: 0;
                    left: 0;
                    background-color: var(--grayish-orange);
                }
                .title {
                    font-size: 3rem;
                    
        
                }
.different {
    text-align: left;
}



.title--different::before {
    margin: 0;
}

.different__items {
    flex-direction: row;
    gap: 2em;
    justify-content: space-between;
    
    
}
.different__item {
    
    flex: 1;

}

.different__icon {
    /* para quitar e outline le colocamos estas propiedades qua aunque no se note igual existe esta posibilidad de quitar */
    margin-left: 0 ;
}
        .find__container {
            position:relative;
        }
        .find__container::before{
            content:"";
            position: absolute;
            width: 40%;
            height: 100%;
            top:0;
            right:0;
            background-image: url(images/bg-pattern-how-we-work-desktop.svg);
            background-size: cover;
            background-position: left;

        }
        .find__container {
            background-color: var(--dark-gray);
            color: #fff;
            text-align: left;
            display:flex;
            align-items: center;
            justify-content: space-between;
        }

        .title--find{
            width: 60%;
        }
                .footer__brand {
                    display: flex;
                    flex-direction:row;
                    justify-content: space-between;
                    /* align-items: center;
                    gap: 2em;
                    padding-bottom: 2.5em;
                    border-bottom: 1px solid var(--dark-grayish-violet);
                    margin-bottom: 2.5em; */
                }
        

                .footer__navigation {
                    display: flex;
                    gap: 1.5em;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                }
        
                .footer__nav {
                    width: 23%;
                    align-items: flex-start;
                    /* display: flex;
                    gap: 1em;
                    flex-direction: column;
                    text-align: center; */
                }
        
                .footer__link {
                    text-decoration: none;
                    color: var(--dark-gray);
                    font-weight: 700;
                    text-transform: uppercase;
                }
        
                .footer__link--first {
                    color: var(--grayish-orange);
                    margin-bottom: 1em;
                }

}